* {
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
  /* border: dashed blue 1px; */
}

/* Animated Logo */
.lineAnimation{
  position: left;
}

#background {
fill:rgba(255, 255, 255, 0);
stroke:#ffffffd2;
height:120px;
width:150px;
margin-top:-39px;
stroke-width: 6px;
stroke-miterlimit:50;
stroke-dasharray: 1000;
stroke-dashoffset:0;
-webkit-animation: dash 8s ease infinite;
-o-animation: dash 8s ease infinite;
-moz-animation: dash ease linear infinite;
animation: dash 8s ease infinite;
}

@-webkit-keyframes blink {
  0%, 100%{
  opacity: 1;
  }
  50% {
    opacity: 0;
    }
  }
@-webkit-keyframes dash {
0%, 100%{
stroke-dashoffset: 3999;
}
50% {
stroke-dashoffset:2000;

  }
}

/* NAVBAR CSS */
nav{
  position: sticky; 
  display:flex;
  top:0; /* At the top */
  z-index: 99;
  width:100%;
  gap: 150px;
  height: 70px;
  white-space: nowrap;
  list-style-type:none;  /* Gets rid of formatting from li */
  background-color: rgba(0, 0, 0, 0.746);
}

nav ul {
  display:flex;
}
nav li{
    list-style-type: none;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
}

.nav-container{
  margin-top:6px;
  display: flex;
  position: center;
  gap: 120px;
  width: 100%;
  margin-left: 3%;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  padding-block-start: 3px;
  padding-block-end: 3px;
}

nav li a {
  color:rgb(1, 150, 150);
  font-weight: 600;
  text-decoration: none;
  transition: .3s;
}

nav li a:hover {
    color:rgb(233, 144, 61);
    opacity: 1;
    text-decoration: none;
    display: block;
    block-size: 50px;
}

nav li a:hover,
nav li a.active {
    color:rgb(255, 255, 255);
    opacity: 1;
    background: #f79e2b;
    transition: all 0.5 ease;
    border-radius: 4px;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 10px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Image Gallery */
.image-gallery1 {
    margin-top: 60px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(4 1fr);
    gap: 2px;
      grid-template-areas:
      "a b c d"
    ;
}

.image-gallery2 {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(1 1fr);
  grid-template-rows: repeat(3 1fr);
    grid-template-areas:
    "e f g"
  ;
}

/* All Grown Up */
#image1 {
  max-height: 600px;
  min-width: auto;
  max-width: 480px;
}
.box1 {
    grid-area: f;
    object-fit: contain;
}

/* Catcher In The Rye ******************************************************************************************/
#image2 {
  max-height: 400px;
  min-width: auto;
  max-width: 320px;
}
.box2 {
    grid-area: a;
    object-fit: contain;
}

/*Eliminates padding, centers the thumbnail */

body, html {
  padding: 0;
  margin: 0;
  text-align: center;
  }
  
  /* Styles the thumbnail */
  
  a.lightbox img {
  height: 150px;
  border: 3px solid rgba(255, 255, 255, 0.691);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.739);
  margin: 94px 20px 20px 20px;
  }
  
  /* Styles the lightbox, removes it 
  from sight and adds the fade-in transition */
  
 .lightbox-target {
  position: relative center;
  top: -100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
   
  }
  
  /* Styles the lightbox image, centers it 
  vertically and horizontally, adds the zoom-in 
  transition and makes it responsive using a 
  combination of margin and absolute positioning */
  
  .lightbox-target img {
  margin: auto;
  position: absolute;
  top: 60%;
  left:30%;
  right:30%;
  bottom: 10%;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 100px 100px 800px rgba(0, 0, 0, 0.562);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
    
  }
  
  /* Styles the close link, adds the slide down transition */
  
  a.lightbox-close {
  display: block;
  width:80px;
  height:80px;
  box-sizing: border-box;
  background: rgb(233, 144, 61);
  color: rgb(73, 73, 73);
  text-decoration: none;
  position:absolute;
  z-index: 100;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }
  
  /* Provides part of the "X" to eliminate an 
  image from the close link */
  
  a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  }
  
  /* Provides part of the "X" to eliminate an 
  image from the close link */
  
  a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
  }
  
  /* Uses the :target pseudo-class to perform the 
  animations upon clicking the .lightbox-target anchor */
  
  .lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
    overflow:scroll;
  }
  
  .lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;
  }
  
  .lightbox-target:target a.lightbox-close {
  top: 0;
  }
/******************************************************************************************************************/

/* False Gems COVER */
#image3 {
  max-height: 500px;
  min-width: auto;
  max-width: 320px;
}
.box3 {
    grid-area: c;
    object-fit: contain;
}

/* Ushuaia Train */
#image4 {
  max-height: 600px;
  min-width: auto;
  max-width: 480px;
}
.box4 {
    grid-area: g;
    object-fit: contain;
}

/* Swimming With The Fishes */
#image5 {
  max-height: 500px;
  object-fit: contain;

}
.box5 {
  grid-area: b;
  object-fit: contain;
}

/* False Gems CHAPTER HEADINGS */
#image6 {
  max-height: 500px;
  min-width: auto;
  max-width: 320px;
}
.box6 {
  grid-area: d;
  object-fit: contain;
}

/* Senior Self Portait */
#image7 {
  max-height: 400px;
  min-width: auto;
  max-width: 350px;
  margin-right: 0px;
}
.box7 {
  grid-area: e;
  object-fit: contain;
}

/* MEDIA QUERY FOR LAPTOP SCREENS */
@media all and (min-width:1024px) and (max-width:1280px){
  #nav {
    width: 100%;
 }
  #image-gallery1 {
    padding-bottom: 0px;
      margin-bottom: 600px;
      grid-template-columns: 1fr minmax(350px, 1fr) minmax(350px, 1fr) 1fr 1fr 1fr;
      grid-template-areas:
      ". a b ."
      ". c d ."
      ;
  }
  #image-gallery2 {
    padding-bottom: 0px;
      margin-bottom: 600px;
      grid-template-columns: 1fr minmax(350px, 1fr) minmax(350px, 1fr) 1fr 1fr 1fr;
      grid-template-areas:
      ". e f ."
      ". g . ."
      ;
  }
}

/* MEDIA QUERY FOR MOBILE */
@media all and (orientation: portrait) (max-width:735px){
  #nav {
    width: 100%;
 }

 #image-gallery1 {
  padding-bottom: 200%;
  grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
  grid-template-areas:
  ".a."
  ".b."
  ".c."
  ".d."
  ;
}
  #image-gallery2 {
  padding-bottom: 200%;
  grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
  grid-template-areas:
  ".e."
  ".f."
  ".g."
  ;
  }
}