* {
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
  /* border: dashed blue 1px; */
}

/* Animated Logo */
.lineAnimation{
  width:30%;
  margin-top: 1%;
  margin-left: 5.25%;
  position: left;
}

#background {
fill:rgba(255, 255, 255, 0);
stroke:#292929d2;
height:120px;
width:250px;
stroke-width: 6px;
stroke-miterlimit:50;
stroke-dasharray: 1000;
stroke-dashoffset:0;
-webkit-animation: dash 8s ease infinite;
-o-animation: dash 8s ease infinite;
-moz-animation: dash ease linear infinite;
animation: dash 8s ease infinite;
}

@-webkit-keyframes blink {
  0%, 100%{
  opacity: 1;
  }
  50% {
    opacity: 0;
    }
  }
@-webkit-keyframes dash {
0%, 100%{
stroke-dashoffset: 3999;
}
50% {
stroke-dashoffset:2000;

  }
}

/* NAVBAR CSS */
nav{
  margin-left:5em;
  display:flex;
  position:fixed right;
  margin-left: 32%;
  margin-top: -6%;
  white-space: nowrap;
  list-style-type:none;
  padding-block-start: 5px;
  padding-block-end: 3px;
  background-color: rgba(13, 105, 44, 0.274);
}

nav ul {
  display:flex;
}
nav li{
    list-style-type: none;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
}

.nav-container{
    display: flex;
    position: right;
    gap: 135px;
    background-position: 100%;
    margin-left: 10%;
    max-height: 4em;  
}

nav li a {
  color:rgb(1, 150, 150);
  font-weight: 600;
  text-decoration: none;
  transition: .3s;
}

nav li a:hover {
    color:rgb(233, 144, 61);
    opacity: 1;
    text-decoration: none;
    display: block;
    block-size: 55px;
}

nav li a:hover,
nav li a.active {
    color:rgb(255, 255, 255);
    opacity: 1;
    background: #f79e2b;
    transition: all 0.5 ease;
    border-radius: 4px;
}


/* Image Gallery */
.image-gallery1 {
    margin-top: 60px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(4 1fr);
    gap: 2px;
      grid-template-areas:
      "a b c d"
    ;
}

.image-gallery2 {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(1 1fr);
  grid-template-rows: repeat(3 1fr);
    grid-template-areas:
    "e f g"
  ;
}

/* All Grown Up */
#image1 {
  max-height: 600px;
  min-width: auto;
  max-width: 480px;
}
.box1 {
    grid-area: f;
    object-fit: contain;
}

/* Catcher In The Rye */
#image2 {
  max-height: 400px;
  min-width: auto;
  max-width: 320px;
}
.box2 {
    grid-area: a;
    object-fit: contain;
}

/* False Gems COVER */
#image3 {
  max-height: 500px;
  min-width: auto;
  max-width: 320px;
}
.box3 {
    grid-area: c;
    object-fit: contain;
}

/* Ushuaia Train */
#image4 {
  max-height: 600px;
  min-width: auto;
  max-width: 480px;
}
.box4 {
    grid-area: g;
    object-fit: contain;
}

/* Swimming With The Fishes */
#image5 {
  max-height: 500px;
  object-fit: contain;

}
.box5 {
  grid-area: b;
  object-fit: contain;
}

/* False Gems CHAPTER HEADINGS */
#image6 {
  max-height: 500px;
  min-width: auto;
  max-width: 320px;
}
.box6 {
  grid-area: d;
  object-fit: contain;
}

/* Senior Self Portait */
#image7 {
  max-height: 400px;
  min-width: auto;
  max-width: 350px;
  margin-right: 0px;
}
.box7 {
  grid-area: e;
  object-fit: contain;
}

/* MEDIA QUERY FOR LAPTOP SCREENS */
@media all and (min-width:1024px) and (max-width:1280px){
  .image-gallery {
    padding-bottom: 0px;
      margin-bottom: 600px;
      grid-template-columns: 1fr minmax(350px, 1fr) minmax(350px, 1fr) 1fr 1fr 1fr;
      grid-template-areas:
      ". a b ."
      ". c d ."
      ". e f ."
      ". g . ."
      ;
  }
}

/* MEDIA QUERY FOR MOBILE */
@media all and (orientation: portrait) (max-width:735px){
   nav {
       padding-left: 0;
   }

  .image-gallery {
      padding-bottom: 200%;
      grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
      grid-template-areas:
      ".a."
      ".b."
      ".c."
      ".d."
      ".e."
      ".f."
      ".g."
      ;
  }