* {
    margin: 0;
    padding: 0;
    /* border: dashed blue 1px; */
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 26pt;
  text-decoration:none;
}


h3{
  font-family: 'Indie Flower', cursive;
  font-size: 14pt;
  color: rgb(1, 150, 150);
}

h4{
  font-family: 'Indie Flower', cursive;
  font-size: 12pt;
  text-decoration: none;
}

h5{
  font-family: 'Montserrat', sans-serif;
  text-decoration:none;
  font-size: 14pt;
  font-style:none;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  color: rgb(1, 150, 150);
  text-decoration:none;
}

h6 :hover {
  color:rgb(233, 144, 61);
  opacity: 1;
  text-decoration: none;
  display: inline-block;
}

h6 :hover,
h6 :active {
  color:rgb(255, 255, 255);
  opacity: 1;
  background: #f79e2b;
  transition: all 0.5 ease;
}

img {
    width: 100%;
    height: auto;
}

/* LWard Logo */
.lineAnimation{
  width:30%;
  margin-top: 1%;
  margin-left: 5.25%;
  position: left;
}

#logo-animation {
fill:rgba(255, 255, 255, 0);
stroke:#292929d2;
height:120px;
width:250px;
stroke-width: 6px;
stroke-miterlimit:50;
stroke-dasharray: 1000;
stroke-dashoffset:0;
-webkit-animation: dash 8s ease infinite;
-o-animation: dash 8s ease infinite;
-moz-animation: dash ease linear infinite;
animation: dash 8s ease infinite;
}

@-webkit-keyframes blink {
  0%, 100%{
  opacity: 1;
  }
  50% {
    opacity: 0;
    }
  }
@-webkit-keyframes dash {
0%, 100%{
stroke-dashoffset: 3999;
}
50% {
stroke-dashoffset:2000;

  }
}


/* NAVBAR CSS */
nav{
    margin-left:5em;
    display:flex;
    position:fixed right;
    margin-left: 32%;
    margin-top: -6%;
    white-space: nowrap;
    list-style-type:none;
    padding-block-start: 5px;
    padding-block-end: 3px;
    background-color: rgba(13, 105, 44, 0.274);
  }

  nav ul {
    display:flex;

  }
  nav li{
    list-style-type: none;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
  }

  .nav-container{
    display: flex;
    position: right;
    gap: 130px;
    background-position: 100%;
    margin-left: 3%;
    max-height: 4em;
  }
  
  nav li a {
    color:rgb(1, 150, 150);
    font-weight: 600;
    text-decoration: none;
    transition: .3s;
  }
  
  nav li a:hover {
    color:rgb(233, 144, 61);
    opacity: 1;
    text-decoration: none;
    display: block;
    block-size: 55px;
  }

  nav li a:hover,
  nav li a.active {
    color:rgb(255, 255, 255);
    opacity: 1;
    background: #f79e2b;
    transition: all 0.5 ease;
    border-radius: 4px;
  }

#train {
  width: 80%;
  height: 80%;
  margin-top: 0px;
  position:right;
  margin-left: 290px;
}

/* IMAGE GALLERY CSS */
.image-gallery {
    margin-top: 20px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr minmax(350px, 1fr)  minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    padding-bottom: 100px;
    grid-template-areas:
    ". a b c ."
    ". d e f ."
    ;
}

.box-styling {
  max-width: 100%;
    max-height: 100%;
    background-color: rgb(194, 194, 194);
    /* clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  }

.box-wrapper{
  height:350px;
  border-radius: 0%;
}
.box1 {
    grid-area: a;
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
}

.box4 {
    grid-area: d;
}

.box5 {
  grid-area: e;
}

.box6 {
  grid-area: f;
}


/* ABOUT ME CSS*/
.about-me {
    height: 100vh !important;
    background-color: rgb(255, 255, 255) !important;
    padding: 10vh 50px 0 50px;
    column-count: 2;
}

.about-me img{
  width: 60%;
  border-radius: 8%;
  margin-bottom: 4em;
  margin-left: 90px;
  margin-top: ;
}

.about-me p{
  text-align: left;
  font-size:20px;
  margin-left: -40px;
}
.paragraph2{
  text-indent: 2em;
}
/* the span tag that wrap starts off my paragraph */
.bigText {
  font-size:2em;
  padding-right:.5em;
}

/* CONTACT CSS */
.contact {
    margin-top: 60px;
    display: grid;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    height: 30vh !important;
    padding-bottom: 50vh;
    background-color: rgb(255, 255, 255) !important;
    grid-template-columns: 3fr minmax(2fr, 1fr) minmax(2fr, 1fr) 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". title title ."
    ". logo wrapper ."
    ;
}

.contact-title {
    font-size: 2em;
    grid-area: title;
    padding-bottom: 50px;
}

.logo-svg {
    margin-top: -50px;
    width: 700px;
    grid-area: logo;
    margin-left: -210px;
}

.contact-wrapper {
    grid-area: wrapper;
}


   /* footer section */
   footer{
    grid-area:footer;
  }
  footer p{
    font-size:2em;
  }
  footer li {
    display:inline;
  }
  footer ul {
    max-width: 640px;
    margin: 2em auto;
    padding:0;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  footer ul li{
    list-style: none;
    align-self:flex-end;
  }
  footer ul li a {
    color:rgb(1, 150, 150);
    transition: .3s;
  }
  footer ul li a:hover {
    text-decoration:none;
    color:rgb(0, 0, 0);
  }
  footer svg {
    width:20%;
  }
  footer p{
    font-size: 1em;
  }



  /* MEDIA QUERY FOR LAPTOP SCREENS */
 @media all and (min-width:1024px) and (max-width:1280px){
    .image-gallery {
      padding-bottom: 0px;
        margin-bottom: 600px;
        grid-template-columns: 1fr minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
        grid-template-areas:
        ". a b ."
        ". c d ."
        ". e f ."
        ;
    }
 }

/* MEDIA QUERY FOR MOBILE */
 @media all and (orientation: portrait) (max-width:735px){
     nav {
         padding-left: 0;
     }

    .image-gallery {
        padding-bottom: 200%;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ".e."
        ".f."
        ;
    }

    .contact {
        padding-bottom: 200%;
        grid-template-columns: 3fr minmax(2fr, 1fr) 3fr;
        grid-template-rows: auto;
        grid-template-areas:
        ". title ."
        ". logo ."
        ". wrapper ."
        ;
    }
    
 }



