* {
  font-family: 'Indie Flower', cursive;
  margin: 0;
  padding: 0;
  /* border: dashed blue 1px; */
}

/* Animated Logo */
.lineAnimation a{
  position: left;
}

#logo-animation {
fill:rgba(255, 255, 255, 0);
stroke:#ffffffd2;
height:120px;
width:150px;
margin-top:-39px;
stroke-width: 6px;
stroke-miterlimit:50;
stroke-dasharray: 1000;
stroke-dashoffset:0;
-webkit-animation: dash 8s ease infinite;
-o-animation: dash 8s ease infinite;
-moz-animation: dash ease linear infinite;
animation: dash 8s ease infinite;
}

@-webkit-keyframes blink {
  0%, 100%{
  opacity: 1;
  }
  50% {
    opacity: 0;
    }
  }
@-webkit-keyframes dash {
0%, 100%{
stroke-dashoffset: 3999;
}
50% {
stroke-dashoffset:2000;

  }
}

/* NAVBAR CSS */
nav{
  position: sticky; 
  display:flex;
  top:0; /* At the top */
  z-index: 99;
  width:100%;
  gap: 150px;
  height: 70px;
  white-space: nowrap;
  list-style-type:none;  /* Gets rid of formatting from li */
  background-color: rgba(0, 0, 0, 0.746);
}

nav ul {
  display:flex;
}
nav li{
    list-style-type: none;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
}

nav li a {
  color:rgb(1, 150, 150);
  font-weight: 600;
  text-decoration: none;
  transition: .3s;
}

nav li a:hover {
  color:rgb(233, 144, 61);
    opacity: 1;
    text-decoration: none;
    display: block;
    block-size: 50px;
}

nav li a:hover,
nav li a.active {
  color:rgb(255, 255, 255);
    opacity: 1;
    background: #f79e2b;
    transition: all 0.5 ease;
    border-radius: 4px;
}

/* Burnout */
#image1 {
  max-height: 400px;
  min-width: auto;
  max-width: 600px;
}
.box1 {
    grid-area: a;
    object-fit: contain;
}

/* Catfish */
#image2 {
  max-height: 400px;
  min-width: auto;
  max-width: 500px;
}
.box2 {
    grid-area: b ;
    object-fit: contain;
}

/* Tending to my Mind */
#image3 {
  max-height: 400px;
  min-width: auto;
  max-width: 400px;
}
.box3 {
  grid-area: c;
  object-fit: contain;
}

/* Amazon is Burning */
#image4 {
  max-height: 500px;
  min-width: auto;
  max-width: 350px;
}
.box4 {
    grid-area: f;
    object-fit: contain;
}

/* Tips */
#image5 {
  max-height: 500px;
  min-width: auto;
  max-width: 350px;
}
.box5 {
  grid-area: e;
  object-fit: contain;
}

/* Tie the Knot */
#image6 {
  max-height: 500px;
  min-width: auto;
  max-width: 350px;
}
.box6 {
  grid-area: d;
  object-fit: contain;
}

/* To Race Against Time */
#image7 {
  max-height: 500px;
  min-width: auto;
  max-width: 350px;
}
.box7 {
  grid-area: g;
  object-fit: contain;
}

/* Let Sleeping Dogs Lie */
#image8 {
  max-height: 400px;
  min-width: auto;
  max-width: 370px;
}
.box8 {
  grid-area: h;
  object-fit: contain;
}

/* Hyperfocus */
#image9 {
  max-height: 400px;
  min-width: auto;
  max-width: 510px;
}
.box9 {
    grid-area: i;
    object-fit: contain;
}

/* Zipper Train */
#image10 {
  max-height: 400px;
  min-width: auto;
  max-width: 600px;
}
.box10 {
  grid-area: j;
  object-fit: contain;
}


/* MEDIA QUERY FOR LAPTOP SCREENS *************************************************************************************************/
@media only screen, (min-width:1000px){
  #nav {
    width: 100%;
    gap: 150px;
 }

 .nav-container{
  margin-top:6px;
  display: flex;
  position: center;
  gap: 120px;
  width: 100%;
  margin-left: 3%;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  padding-block-start: 3px;
  padding-block-end: 3px;
}

/* Image Gallery */
.image-gallery1 {
  margin-top: 60px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(1 1fr);
  grid-template-rows: repeat(3 1fr);
  gap: 2px;
    grid-template-areas:
    "a b c"
  ;
}

.image-gallery2 {
margin-top: 20px;
margin-left: 10px;
margin-bottom: 20px;
display: grid;
grid-template-columns: repeat(1 1fr);
grid-template-rows: repeat(4 1fr);
  grid-template-areas:
  "d e f g"
;
}

.image-gallery3 {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(1 1fr);
  grid-template-rows: repeat(3 1fr);
    grid-template-areas:
    "h i j"
  ;
  }



/* MEDIA QUERY FOR MOBILE */
@media only screen, (max-width:999px){
  #nav {
    width: 100%;
    gap: 10px;
 }

 .nav-container{
  margin-top:6px;
  display: flex;
  position: center;
  gap: 40px;
  width: 100%;
  margin-left: 3%;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  padding-block-start: 3px;
  padding-block-end: 3px;
}

/* Image Gallery */
.image-gallery1 {
  margin-top: 60px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(1 1fr);
  grid-template-rows: repeat(3 1fr);
  gap: 2px;
    grid-template-areas:
    ".a."
    ".b."
    ".c."
  ;
} 

  .image-gallery2 {
  margin-top: 60px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(1 1fr);
  grid-template-rows: repeat(3 1fr);
    grid-template-areas:
    ".d."
    ".e."
    ".f."
    ".g."
    ;
}
.image-gallery3 {
margin-top: 60px;
margin-left: 10px;
display: grid;
grid-template-columns: repeat(1 1fr);
grid-template-rows: repeat(3 1fr);
  grid-template-areas:
  ".h."
  ".i."
  ".j."
  ;
}
}