h1{
  font-size: 60px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 15px;
}

h4{
  font-size: 12px;
  font-style: bold;
}

h5{
  font-size: 12px;
}


.body{
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  grid-template-areas: 
  ". a b .";
}

.resumeleft{
  grid-area: a;
  align-content: left;
  position: left;
}

.resumeright{
  grid-area: b;
  align-content: left;
  position: right;
}

/* grid system for desktop */
@media all and (min-width:1024px) and (max-width:1280px){
  .container{
    width:100%;
    height:100vh;
    display:grid;
    /* grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
          "icon content"
          "nav content"
          "nav content"
          "footer footer"; */
  }
  

}